name: example
description: "Trackit example project"
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ^3.9.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

  bloc_concurrency: ^0.3.0
  flutter_bloc: ^9.1.1
  dio: ^5.9.1
  trackit: ^0.1.3
  trackit_console: ^0.3.2
  trackit_history: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
